<!DOCTYPE html>


<html lang="en">
<head>
<meta charset="UTF-8">
</head>

<body>
<h1>Options</h1>	
<br>
	<div>
		<label>Temperature: </label> <input [(ngModel)]="actors.value"
			placeholder="20" />
		<form (submit)="tempSwitch()">Save</form>
	</div>
<br>
<br>
<br>
<div>
	<label>Light: </label>
	<form (submit)="lightRed()">Red</form>
	<button (submit)="lightBlue()">Blue</button>
	<button (submit)="lightGreen()">Green</button>
	<button (submit)="lightWhite()">White</button>
	<br>
	<br>
	<span>{{dateFormat}}</span>
</div>

</body>