

.vscode
.DS_Store
.idea/
node_modules/
/.gradle/

/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
LisT_Backend/bin/
LisT_Backend/.gradle/
.gradle/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#Basti custom settings:
LisT_Firmware/coap/.kdev4/
LisT_Firmware/coap/bin/
*.kdev4

LisT_Firmware/RIOT/\.vagrant/machines/default/virtualbox/
LisT_Firmware/sensoren/bin
LisT_Firmware/sensoren/bin/
LisT_Firmware/actuators/bin/


