<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UFT-8">
	</head>
	<body>
		<h1>
		{{title}}
		</h1>
		<button (click)="printSensor()">Sensoren</button>
		<button (click)="printValuesSensor1()">Temperatur 1</button>
		<button (click)="printValuesSensor2()">Temperatur 2</button>
		<button (click)="printValuesSensor3()">Lichtwert</button>
		<button (click)="printValuesSensor4()">pH-Wert</button>
		<br/>
		<br/>
		<br/>
		<div><pre>{{result}}</pre></div>
		<div><span>id: </span>{{sensors.id}}</div>
		
	</body>
</html>
